// Address
// -----------------------------------------------------------------------------

.address {
  @include link($c-black, $c-brand-primary-light);

  > .icon {
    margin-right: $sp-base;
    color: $c-brand-primary-light;
  }

  > span {
    text-decoration: underline;
  }
}