// Address
// -----------------------------------------------------------------------------

.address {
  @include link($c-dark, $c-brand-primary);

  > .icon {
    margin-right: $sp-base;
    color: $c-brand-primary;
  }

  > span {
    text-decoration: underline;
  }
}