// Footer
// -----------------------------------------------------------------------------


.footer {
  @include size($footer-wd, $footer-ht);
  padding: $footer-pd;
  font-family: $ff-sans-serif-bold;
  background-color: $footer-bg;

  @media ($medium-up) {
    @include positioner(fixed, $footer-wd-medium-up, $footer-ht-medium-up, bottom, 0, left, 0, 10);
    @include gradient-vertical;
    padding: $sp-xxlarge $footer-pd-medium-up 0;
    line-height: $lh-large;
  }

  > .wrapper {
    @media ($medium-up) {
      display: flex;
      align-items: flex-end;
    }
  }

  &__col-l {
    text-align: center;

    @media ($medium-up) {
      @include col(35%, left);
    }

    > p {
      margin-bottom: 0;

      @media ($medium-up) {
        margin-bottom: $sp-small;
      }
    }
  }

  &__col-c {
    text-align: center;

    @media ($medium-up) {
      @include col(30%, center);
    }

    .icon {
      margin-bottom: $sp-small;

      @media ($medium-up) {
        margin-bottom: 0;
      }
    }
  }

  &__col-r {
    text-align: center;

    @media ($medium-up) {
      @include col(35%, right);
    }

    > p {
      margin-bottom: 0;

      @media ($medium-up) {
        margin-bottom: $sp-small;
      }
    }
  }
}
