// Footer
// -----------------------------------------------------------------------------


.footer {
  @include positioner(fixed, $footer-wd, $footer-ht, bottom, 0, left, 0, 10);
  @include gradient-vertical;
  padding: $sp-xxlarge $sp-xxxlarge 0;
  font-family: $ff-sans-serif-bold;
  line-height: 2;

  > .wrapper {
    display: flex;
    align-items: flex-end;
  }

  &__col-l {
    @include col(35%, left);
  }

  &__col-c {
    @include col(30%, center);
  }

  &__col-r {
    @include col(35%, right);
  }
}
