// Footer
// -----------------------------------------------------------------------------


.footer {
  @include positioner(fixed, $footer-wd, $footer-ht, bottom, 0, left, 0);
  @include gradient-vertical;
  display: flex;
  align-items: flex-end;
  padding: 0 $sp-xxxlarge $sp-xsmall;
  font-family: $ff-sans-serif-bold;
  line-height: 2;

  &__col-l {
    @include footer-col(35%, left);
  }

  &__col-c {
    @include footer-col(30%, center);
  }

  &__col-r {
    @include footer-col(35%, right);
  }
}
