// Headings
// -----------------------------------------------------------------------------


.heading-brand {
  margin-bottom: 0;
  text-align: center;

  > a {
    display: inline-block;
  }
}

.heading-category {
  margin-bottom: $sp-large;
  text-align: center;
}

.heading-sub-category {
  display: inline-block;
  padding-left: $sp-large;
  padding-right: $sp-large;
  line-height: 29px;
  background:
    url("#{$assets-path}/bg-heading-sub-category-l@2x.png") no-repeat left center,
    url("#{$assets-path}/bg-heading-sub-category-r@2x.png") no-repeat right center;
  background-size: contain;

  > span {
    display: block;
    background-color: $c-light;
  }
}
