// Header
// -----------------------------------------------------------------------------


.header {
  @include positioner(fixed, $header-wd, $header-ht, top, 0, left, 0, 10);

  &__brand {
    @include size($header-brand-wd, $header-brand-ht);
    padding: $header-brand-pd;
    background-color: $header-brand-bg;
  }

  &__nav {
    @include size($header-nav-wd, $header-nav-ht);
    background-color: $header-nav-bg;
    overflow: hidden;
  }
}
