// Headings
// -----------------------------------------------------------------------------


.heading-brand {
  margin-bottom: 0;
  text-align: center;

  > a {
    display: inline-block;
  }
}

.heading-category {
  margin-bottom: $sp-large;
  text-align: center;
}

.heading-sub-category {
  display: inline-block;
  padding-left: $sp-large;
  padding-right: $sp-large;
  line-height: $lh-medium;
  background: url("#{$assets-path}/bg-heading-sub-category.png") no-repeat center center;
  background-size: cover;
}
