// Social navigation
// -----------------------------------------------------------------------------

.nav-social {
  @include list-inline-first-last($sp-xxsmall, $sp-xxsmall);
  margin-bottom: 10px;
  text-align: center;

  @media ($medium-up) {
    margin-bottom: 30px;
    text-align: left;
  }

  a {
    @include link($c-black, $c-brand-primary-light);
    display: block;
  }
}
