// Sub-category
// -----------------------------------------------------------------------------
// Using a 3 column layout for sub-categories.

.sub-category {
  float: left;
  width: 100%;
  padding-left: $sp-xsmall;
  padding-right: $sp-xsmall;
  margin-top: $sp-small;
  color: $c-white;

  @media ($medium-up) {
    width: 33.3333%;
    padding-left: $sp-large;
    padding-right: $sp-large;
  }

  &:nth-child(3n + 1) {
    clear: left;
  }

  li {
    margin-bottom: $sp-xxsmall;

    &:last-child {
      margin-bottom: 0;
    }
  }

  strong {
    padding-left: $sp-base;
    font-weight: $fw-bold;
    color: $c-brand-secondary;
  }
}
