<footer class="footer">
  <div class="wrapper">

    <div class="footer__col-l">
      <p>
        Servicio a domicilio<br>
        Suplemento de 1,50€ (pedido mínimo de 12€)
      </p>
    </div>

    <div class="footer__col-c">
      <a class="call-us" href="tel:34933994424">
        {% include svg/call-us.svg css-class="icon icon--large" %}
      </a>
    </div>

    <div class="footer__col-r">
      <p>
        Recogida en tienda<br>
        <a class="address" href="https://maps.google.es/maps?q=fricando+rosticeria,+badalona&hl=es&ie=UTF8&sll=41.692152,1.746005&sspn=2.93684,4.932861&hq=fricando+rosticeria,&hnear=Badalona,+Barcelona,+Catalu%C3%B1a&t=m&cid=1121144632654455871&ll=41.455255,2.230203&spn=0.006433,0.014999&z=16&iwloc=A&source=embed" target="_blank">
          <span>C/ Ripoll, 27 - Badalona 08917</span>
          {% include svg/address.svg css-class="icon icon--small" %}
        </a>
      </p>
    </div>

  </div>
</footer>
