<header id="header" class="header" role="banner">

  <div class="header__brand">
    <div class="wrapper">
      <h1 class="heading-brand">
        <a rel="author" href="{{ "/" | relative_url }}">
          {% include svg/brand.svg css-class="icon icon--brand" %}
        </a>
      </h1>
    </div>
  </div>

  <nav id="header-nav" class="header__nav is-small-hidden">
    <div class="wrapper">
      {% include nav-main.html %}
      {% include nav-social.html %}
    </div>
  </nav>

  <button id="header-hamburger" class="header__hamburger is-medium-hidden">
    &#9776;
  </button>

</header>
