// Mixins
// -----------------------------------------------------------------------------


// Center-align a block level element
@mixin center-block() {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

// Clearfix
@mixin clearfix() {
  &:before,
  &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
}

// Responsive image
// Keep images from scaling beyond the width of their parents.
@mixin img-responsive($dp: block) {
  display: $dp;
  max-width: 100%; // Part 1: Set a maximum relative to the parent
  height: auto; // Part 2: Scale the height according to the width, otherwise you get stretching
}

// Sizing shortcuts
@mixin size($wd, $ht) {
  width: $wd;
  height: $ht;
}

// WebKit-style focus
//
// 1. Default
// 2. WebKit
//
@mixin tab-focus() {
  outline: thin dotted; // 1
  outline: 5px auto -webkit-focus-ring-color; // 2
  outline-offset: -2px; // 2
}

// Reset default list styles
@mixin list-reset() {
  margin: 0;
  padding: 0;
  list-style: none;
}

// // Turns list items into floated elements
// @mixin list-float() {
//   @include list-reset;
//   @include clearfix;

//   > li,
//   > dt,
//   > dd {
//     float: left;
//   }
// }

// Turns list items into inline-block
@mixin list-inline($pdl: $sp-base, $pdr: $sp-base) {
  @include list-reset;

  > li {
    display: inline-block;
    padding-left: $pdl;
    padding-right: $pdr;

    &:first-child {
      padding-left: 0;
    }

    &:last-child {
      padding-right: 0;
    }
  }
}

// Positioner for horizontal and vertical centering
// @mixin positioner-center($wd, $ht) {
//   position: absolute;
//   width: $wd;
//   height: $ht;
//   left: 50%;
//   top: 50%;
//   margin-left: -($wd / 2);
//   margin-top: -($ht / 2);
// }

// Positioner
@mixin positioner($po, $po-wd, $po-ht, $po-v-property, $po-v-value, $po-h-property, $po-h-value, $po-zi: auto) {
  position: $po;
  width: $po-wd;
  height: $po-ht;
  #{$po-v-property}: ($po-v-value);
  #{$po-h-property}: ($po-h-value);
  z-index: $po-zi;
}

// Positioner for horizontal centering
@mixin positioner-center-h($wd, $ht) {
  position: absolute;
  width: $wd;
  height: $ht;
  left: 50%;
  margin-left: -($wd / 2);
}

// Positioner for vertical centering
// @mixin positioner-center-v($wd, $ht) {
//   position: absolute;
//   width: $wd;
//   height: $ht;
//   top: 50%;
//   margin-top: -($ht / 2);
// }

// Footer columns
@mixin footer-col($wd, $ta) {
  width: $wd;
  text-align: $ta;
}

// Vertical gradient, from top to bottom
// Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#222222+0,222222+10,222222+50,ffffff+51,ffffff+100&0+0,0+10,1+51
//
// 1. FF3.6-15
// 2. Chrome10-25,Safari5.1-6
// 3. W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+
// 4. IE6-9
//
@mixin gradient-vertical($c-start: rgba(17,17,17,0), $c-mid: rgba(17,17,17,1), $c-end: rgba(255,255,255,1), $c-start-ie: $c-dark, $c-end-ie: $c-light) {
  background: -moz-linear-gradient(top, $c-start 0%, $c-start 10%, $c-mid 47%, $c-end 47%, $c-end 100%); // 1
  background: -webkit-linear-gradient(top, $c-start 0%, $c-start 10%, $c-mid 47%, $c-end 47%, $c-end 100%); // 2
  background: linear-gradient(to bottom, $c-start 0%, $c-start 10%, $c-mid 47%, $c-end 47%, $c-end 100%); // 3
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#{$c-start-ie}', endColorstr='#{$c-end-ie}', GradientType=0 ); // 4
}

// Headings
@mixin heading($fz, $c) {
  font-size: $fz;
  color: $c;
}

// Links
@mixin link($c, $c-visited, $c-hover) {
  color: $c;
  transition: $transition-color;

  &:visited {
    color: $c-visited;
  }

  &:hover {
    color: $c-hover;
  }
}
