// Variables
// -----------------------------------------------------------------------------

// Naming conventions used for variables inspired by [ZenCSSProperties]
//
// Some of the prefixes used:
// * b = border
// * bg = background;
// * c = color
// * ff = font-family
// * fz = font-size


// Base
// -----------------------------------------------------------------------------

// Colors
$c-dark:                 #000 !default;
$c-dark-soft:            #333 !default;
$c-neutral:              #666 !default;
$c-light-soft:           #999 !default;
$c-light:                #fff !default;

$c-brand-primary:        #ff4e18 !default;
$c-brand-secondary:      #ffb500 !default;

// Scaffolding
$assets-path:            "/assets" !default;

$body-bg-c:              #494c5b !default;
$body-bg-img:            "bg-body.jpg" !default;

$text-c:                 $c-dark !default;

$link-c:                 $c-brand-primary !default;
$link-c-hover:           lighten($link-c, 15%) !default;

// Spacing units
$sp-base:                5px !default;

$sp-xxsmall:             floor($sp-base * 2) !default; // 10px
$sp-xsmall:              floor($sp-base * 3) !default; // 15px
$sp-small:               floor($sp-base * 4) !default; // 20px
$sp-medium:              floor($sp-base * 5) !default; // 25px
$sp-large:               floor($sp-base * 6) !default; // 30px
$sp-xlarge:              floor($sp-base * 7) !default; // 35px
$sp-xxlarge:             floor($sp-base * 8) !default; // 40px
$sp-xxxlarge:            floor($sp-base * 9) !default; // 45px

// Fonts
$fonts-path:             "/fonts" !default;

$ff-sans-serif:          "nexa_lightregular", Arial, Helvetica, sans-serif !default;
$ff-sans-serif-bold:     "nexa_boldregular", Arial, Helvetica, sans-serif !default;
$ff-serif:               "ITC American Typewriter Bold", "Courier New", Courier, monospace !default;
$ff-base:                $ff-sans-serif !default;

$fz-base:                14px !default;
$fz-xsmall:              11px !default;
$fz-small:               12px !default;
$fz-medium:              16px !default;
$fz-large:               18px !default;
$fz-xlarge:              20px !default;

$fw-base:                400 !default;

$lh-base:                1.5 !default;

// Media queries
$screen-sm-min:          480px !default;
$screen-md-min:          768px !default;
$screen-lg-min:          992px !default;
$screen-xl-min:          1200px !default;
$screen-xxl-min:         1440px !default;

$small-up:               "min-width:#{$screen-sm-min}" !default;
$medium-up:              "min-width:#{$screen-md-min}" !default;
$large-up:               "min-width:#{$screen-lg-min}" !default;
$xlarge-up:              "min-width:#{$screen-xl-min}" !default;
$xxlarge-up:             "min-width:#{$screen-xxl-min}" !default;

// Transitions
$transition-color:       250ms color !default;


// Patterns
// -----------------------------------------------------------------------------

// Header
$header-brand-img-wd:    339px !default;
$header-brand-img-ht:    91px !default;

$header-brand-pd:        $sp-medium !default;
$header-brand-wd:        100% !default;
$header-brand-ht:        floor($header-brand-img-ht + ($header-brand-pd * 2)) !default;
$header-brand-bg:        $c-light !default;

$header-nav-wd:          100% !default;
$header-nav-ht:          60px !default;
$header-nav-bg:          rgba(0, 0, 0, .3) !default;

$header-wd:              100% !default;
$header-ht:              floor($header-brand-ht + $header-nav-ht) !default;

// Footer
$footer-wd:              100% !default;
$footer-ht:              230px !default;
$footer-bg:              $c-light !default;

// Body offset
$body-offset-top:        floor($header-ht + $sp-medium) !default;
$body-offset-bottom:     $footer-ht !default;

// Category
$category-sp:            60px !default;
$category-sp-last:       0 !default;
